.search {
    text-align: center;
}

.column {
    float: left;
    width: 50%;
}

.bs-ul {
    list-style-type: none;
    height: 6%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #116eac;
    margin-bottom: 30px;
}

.bs-li {
    width: 50%;
    text-align: center;
    float: left;
}

.bs-li:active {
    background-color: #08324e;
}

.bs-li a {
    font-size: x-large;
    width: 100%;
    position: relative;
}


/* Change the link color to #111 (black) on hover */

.bs-li a:hover {
    background-color: #043f66;
}

.response {
    margin-top: 50px;
}

.divisore {
    text-align: center;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
    margin-left: 50px;
}

.left {
    margin-left: 50px;
    align-self: left;
}


/*
table {
    border-spacing: 1;
    border-collapse: collapse;
    background: #f1f1f1;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.t {
    background: white;
}

table * {
    position: relative;
}

table td,
table th {
    padding-left: 8px;
}

table thead tr {
    height: 60px;
    background: #116eac;
}

table tbody tr {
    height: 50px;
}

table tbody tr:last-child {
    border: 0;
}

table td,
table th {
    text-align: left;
}

table td.l,
table th.l {
    text-align: right;
}

table td.c,
table th.c {
    text-align: center;
}

table td.r,
table th.r {
    text-align: center;
}

.table100-head th {
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: white;
    line-height: 1.2;
    font-weight: unset;
    background: #116eac;
}

tbody tr {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
}

.column1 {
    width: 260px;
    padding-left: 40px;
}

.column2 {
    width: 160px;
}

.column3 {
    width: 245px;
}

.column4 {
    width: 110px;
    text-align: right;
}

.column5 {
    width: 170px;
    text-align: right;
}

.column6 {
    width: 222px;
    text-align: right;
    padding-right: 62px;
}*/